<html>
    <head>
        <title>LogIn</title>
    </head>
    <body>
        <form action="/someFile" method="POST">
            <input type="text" name="UserName" id="userName" placeholder="username" required>
            <br>
            <input type="password" name="password" id="pass" placeholder="password" required>
            <br>
            <input type="submit" value="Submit">
            <label for="cars">Cars: </label>
            <select name="cars" id="cars" size="5" multiple>
                <option value="a">a</option>
                <option value="b" selected>b</option>
                <option value="c">c</option>
            </select>
            <textarea name="textytext" id="textytext" cols="30" rows="10" placeholder="Describe yourself"></textarea>
            <input type="date" name="bDay" id="bDay">
            <input type="number" id="quantity" name="quantity" min="14" max="523423" required><br><br>
            <input type="color" name="" id="">
        </form>
    </body>
</html>